# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local

# Logs
*.log

# Build
build/
*.tsbuildinfo

# Claude
.claude/settings.local.json
